{{ $page := .page }}
{{ $title_words := split $page.Title " " }}

<!-- Custom widget -->
<section
  id="{{ range $k, $v := $title_words }}{{ if eq $k 0 }}{{ . | urlize | lower }}{{ end }}{{ end }}"
  class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 section-heading">
        <h1>{{ title $page.Title | safeHTML}}</h1>
        {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
      </div>
      <div class="col-xs-12 col-md-8">
        {{ $page.Content }}
      </div>
    </div>
  </div>
</section>
