{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

  <article class="article" itemscope itemtype="https://schema.org/Article">

    {{ if .Params.image }}
    <img src="{{ $.Site.BaseURL }}img/{{ .Params.image }}" class="article-banner" itemprop="image">
    {{end}}

    <h1 itemprop="name">{{ .Title | title }}</h1>

    {{ partial "article_metadata" (dict "content" . "is_list" 0) }}

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

  </article>

  {{ partial "section_pager.html" . }}
  {{ partial "comments.html" . }}

</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
