<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
  <div class="container">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ "/" | relURL }}">{{ .Site.Title }}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">

      <!-- Left Nav Bar -->
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a href="/#bio"><img class="img-circle" src="https://gravatar.com/avatar/77c3178dfbd06e2e3978ae969d251825?s=64"></a>
        {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a href="{{ .URL | relURL }}"{{ if $.IsHome }} data-target="{{ .URL }}"{{ end }}>
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container -->
</nav>
