<div class="embed audio-player">
  <iframe src="https://embed.spotify.com/?uri=spotify:track:{{ index .Params 0 }}" width="300" height="80" frameborder="0" allowtransparency="true">
  </iframe>
</div>
