<div class="embed video-player">
  <iframe  class="youtube-player" type="text/html"
  width="560" height="315"  src="https://www.youtube.com/embed/{{ index .Params 0 }}" allowfullscreen frameborder="0">
  </iframe>
</div>
